<!--
Assignment 3
Student Name: YI-LIEN HSIEH
Student ID  : 105889240
Date        : 11-23-2025
Section     : WEB322 NAA
-->
<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <%- include('partials/navbar') %>

<div class="home-hero-xmas">
  <h1>🎄 Welcome ＆ Merry Christmas 🎄</h1>
  <p>This website shows different kinds of projects.</p>
  <p>Please look around and enjoy.</p>

  <a href="/solutions/projects" class="btn-xmas">View All Projects</a>
</div>

</body>
</html>
ㄋ